* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
.content {
    margin: 0 auto;
    max-width:1024px;
    width: 100%;
    }
.text{
width: 225px;
height: 30px;
text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
color: #ffffff;
font-family: "Lucida Sans";
font-size: 41px;
font-style: italic;
text-transform: uppercase;
letter-spacing: 0.41px;
margin-top: 21px;
margin-left: 9px;
}
.wrapper{
  background-image: url(./assets/layer-20.png)
}
nav a{
text-decoration: none;
width: 76px;
height: 14px;
line-height: 14px;
color: #9b7d08;
font-family: "Segoe WP";
font-size: 17px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.17px;
}
nav{
width: 453px;
height: 41px;
background-color: #f5c506;
background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
display: flex;
justify-content: space-around;
margin-top: 63px;
}
.shape4{
position: absolute;
}
.shape3{
  position: relative;
}
.shape41{
  position: absolute;
  width: 54px;
  height: 54px;
  }
  .shape31{
    position: relative;
    width: 54px;
    height: 54px;
  }
.logo{
  padding-top: 28px;
  width: 83px;
  display: flex;
}
.header{
  display: flex;
  justify-content: space-between;
}
footer{
  height: 64px;
}
.wrapper2{
background-color: #4c4c4c;
box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.75);
}
.text2{
width: 160px;
height: 21px;
text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
color: #ffffff;
font-family: "Lucida Sans";
font-size: 29px;
font-style: italic;
text-transform: uppercase;
letter-spacing: 0.29px;
margin-top: 13px;
margin-left: 9px;
}
.logo2{
display: flex;
padding-top: 6px;
padding-bottom: 4px;
}
.wrapper3{
  background-image: url(./assets/slice-11.png);
}
.info{
text-align: center;
padding-top: 48px;
}
.info h1{
color: #f5c506;
font-family: "PT Sans";
font-size: 43px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.43px;
}
.order_info{
  width: 345px;
  margin-top: 99px;
}
.order{
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
  padding-bottom: 107px;
}
.illustration img{
  margin-left: 25px;;
}
.up{
  margin-bottom: 40px;
}
.order_info ul {
color: #f5c506;
}
.order_info li{
  margin-bottom: 26px;
}
.order_info span {
height: 49px;
color: #a9a9a7;
font-family: "Open Sans";
font-size: 22px;
font-weight: 400;
letter-spacing: 0.22px;
}
.customise{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 37px;
}
.customise h3{
height: 21px;
color: #000000;
font-family: "Segoe UI";
font-size: 27px;
font-weight: 300;
text-transform: uppercase;
letter-spacing: 0.27px;
}
.icon2{
  padding-top: 37px;
}
.icon1{
  padding-top: 61px;
}
.icon3{
padding-top: 54px;
}
.wrapper5{
  background-image: url(./assets/slice-4.png)
}
.name{
  padding-top: 42px;
  padding-bottom: 40px;
}
.name h2{
height: 28px;
color: #ffffff;
font-family: "PT Sans";
font-size: 37px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.37px;
}
.slider{
  display: flex;
  justify-content: space-between;
}
.box1{
  width: 341px;
  height: 233px;
  background-color: #ec9e03;
  }
.plus{
width: 11px;
height: 11px;
color: #ffffff;
opacity: 0.7;
}
.twitter{
  padding-top: 29px;
}
.fa-inverse {
      color: #bc7d00 !important;
  }
.fa{
  font-size: 170px !important;
}
.box1 p{
width: 272px;
height: 174px;
color: #ffffff;
font-family: "Segoe WP";
font-size: 29px;
font-weight: 300;
line-height: 38px;
letter-spacing: 0.29px;
margin: 0 auto;
padding-top: 25px;
}
.num p{

color: #ffffff;
font-family: "Segoe WP";
font-size: 25px;
font-weight: 300;
line-height: 38px;
letter-spacing: 0.25px;
}
.num{
  width: 24px;
  height: 18px;
}
 .box3{
  width: 329px;
  height: 233px;
  background-color: #ec9e03;
text-align: center;
}
.line{
width: 896px;
height: 15px;
background-color: #ffffff;
opacity: 0.48;
border-radius: 30px;

}
.line2{
width: 197px;
height: 15px;
background-color: #ec9e03;
border-radius: 30px;
margin-left: 247px;
}
.linebox{
  padding-bottom: 22px;
}
.date{
background-color: #ddb101;
width: 113px;
height: 86px;
margin-bottom: 43px;
}
.date h4{
width: 55px;
height: 38px;
color: #ffffff;
font-family: "Segoe UI";
font-size: 51px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0.51px;
margin: 0 auto;
padding-top: 15px;
}
.date p{
width: 55px;
height: 15px;
color: #b26529;
font-family: "Segoe UI";
font-size: 21px;
font-weight: 400;
line-height: 38px;
text-transform: uppercase;
letter-spacing: 0.21px;
margin: 0 auto;
padding-top: 9px;
}