* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
.content {
    margin: 0 auto;
    max-width:1024px;
    width: 100%;
    }
.header2{
  display: none;
}
.bubble{
  display: none;
}
.birds2{
  display: none;
}
.text{
width: 225px;
height: 30px;
text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
color: #ffffff;
font-family: "Lucida Sans";
font-size: 41px;
font-style: italic;
text-transform: uppercase;
letter-spacing: 0.41px;
margin-top: 21px;
margin-left: 9px;
}
section{
  background-image: url(./assets/Layer_20.png);
  background-size: cover;
}
.cool{
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  padding-bottom: 70px;
}
.birds{
  position: relative;
}
.play2 {
  border-radius: 50%;
  width: 67px;
  height: 67px;
  background-color: #f5c506;
  opacity: 0.72;
  position: absolute;
 z-index: 1;
 text-align: center;
top: 40%;
left: 42%;
  }
.play2 a {
 display: block;
 height: 67px;
 line-height: 67px;
 padding-top: 9px;
  }
  .play2:hover{
    opacity: 1;
  }
  button:hover{
    opacity: 1;
  }
  .buttons{
    display: flex;
  justify-content: space-between;

  }
  .next, .prev{
    display: block;
width: 32px;
height: 57px;
background-color: #f5c506;
text-align: center;
opacity: 0.71;
margin-top: 23%;
  }
.next:hover{
  opacity: 1;
}
.prev:hover{
  opacity: 1;
}
  .next a{
  display: block;
  height: 57px;
  line-height: 57px;
  }
  .prev a{
    display: block;
    height: 57px;
    line-height: 57px;
    }

.texts{
color: #ffffff;
font-family: "Asap";
font-size: 43px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.63px;
text-align: center;
margin-top: 90px;
}
.light{
  color:#f5c506;
}
nav a{
width: 100%;
text-align: center;
text-decoration: none;
display: block;
height: 41px;
line-height: 41px;
color: #9b7d08;
font-family: "Segoe WP";
font-size: 17px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.17px;
border-right: 1px solid goldenrod;
}
nav img{
  margin-right: 9px;
}
nav{
width: 453px;
height: 41px;
background-color: #f5c506;
box-shadow: -5px -6px 0px 0px #9b7d08, -9px -11px 0px 0px #615219;
display: flex;
justify-content: space-around;
margin-top: 71px;
}
nav a:active{

  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}
.shape4{
position: absolute;
}
.shape3{
  position: relative;
}
.shape41{
  position: absolute;
  width: 54px;
  height: 54px;
  }
  .shape31{
    position: relative;
    width: 54px;
    height: 54px;
  }
.logo{
  padding-top: 28px;
  width: 83px;
  display: flex;
}
header{
  display: flex;
  justify-content: space-between;
}

footer{
  height: 64px;
}
.wrapper2{
background-color: #4c4c4c;
box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.75);
}
.text2{
width: 160px;
height: 21px;
text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
color: #ffffff;
font-family: "Lucida Sans";
font-size: 29px;
font-style: italic;
text-transform: uppercase;
letter-spacing: 0.29px;
margin-top: 13px;
margin-left: 9px;
}
.logo2{
display: flex;
padding-top: 6px;
padding-bottom: 4px;
}
.wrapper3{
  background-image: url(./assets/slice-11.png);
}
.info{
text-align: center;
padding-top: 48px;
}
.info h1{
color: #f5c506;
font-family: "PT Sans";
font-size: 43px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.43px;
}
.order_info{
  width: 345px;
  margin-top: 9px;
}
.order{
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
  padding-bottom: 78px;
}
.circle{
width: 116px;
height: 116px;
background-color: #f5c506;
border-radius: 50%;
text-align: center;
position: absolute;
z-index: 1;
margin-top: -50px;
}
.comp {
  position: relative;
}
.circle p{
color: #ffffff;
font-family: "PT Sans - Narrow Bold";
font-size: 14px;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.51px;
padding-top: 53px;
}
.illustration img{
  margin-left: 25px;;
}
.up{
  margin-bottom: 40px;
}
.order_info ul {
color: #f5c506;
font-size: 45px;
}
.order_info li{
  line-height: 0.7em;
}
.order_info span {
color: #a9a9a7;
font-family: "Open Sans";
font-size: 22px;
font-weight: 400;
letter-spacing: 0.22px;

}
.customise{
  display: flex;
  justify-content: space-between;
  text-align: center;

}
.customise h3{
color: #000000;
font-family: "Segoe UI";
font-size: 27px;
font-weight: 300;
text-transform: uppercase;
letter-spacing: 0.27px;
}
.icon2{
width: 100%;
border-left: 1px solid grey;
padding-top: 37px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: 37px;
}
.icon1{
padding-top: 61px;
border-left: 1px solid grey;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: 38px;
}
.icon3{
  width: 100%;
border-left: 1px solid grey;
border-right: 1px solid grey;
padding-top: 54px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: 37px;
}
.wrapper5{
  background-image: url(./assets/slice-4.png)
}
.name{
  padding-top: 42px;
  padding-bottom: 40px;
}
.name h2{
height: 28px;
color: #ffffff;
font-family: "PT Sans";
font-size: 37px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.37px;
}
.slider{
  display: flex;
  justify-content: flex-start;
}
.box1{
  width: 329px;
  height: 233px;
  background-color: #ec9e03;
  }

.plus{
width: 11px;
height: 11px;
color: #ffffff;
opacity: 0.7;
margin-left: auto;
margin-right: 19px;
}
.twitter{
  padding-top: 29px;
}
.fa-inverse {
      color: #bc7d00 !important;
  }
.fa{
  font-size: 170px !important;
}
.box1 p{
width: 272px;
color: #ffffff;
font-family: "Segoe WP";
font-size: 29px;
font-weight: 300;
line-height: 38px;
letter-spacing: 0.29px;
margin: 0 auto;
padding-top: 25px;
}
.num p{
color: #ffffff;
font-family: "Segoe WP";
font-size: 25px;
font-weight: 300;
line-height: 38px;
letter-spacing: 0.25px;
}
.num{
  width: 24px;
  height: 18px;
  margin-left: auto;
  margin-right: 19px;
}
 .box3{
  width: 329px;
  height: 233px;
  background-color: #ec9e03;
text-align: center;
margin-left: 34px;
}
.box2{
  width: 329px;
  height: 233px;
  position: relative;
}
button{
border-radius: 50%;
width: 61px;
height: 61px;
background-color: #f5c506;
opacity: 0.72;
border: none;
position: absolute;
top: 93px;
left: 127px;
z-index: 1;
}
button a{
  display: block;
}
.line{
width: 896px;
height: 15px;
background-color: #ffffff;
opacity: 0.48;
border-radius: 30px;
margin: 0 auto;
}
.line2{
width: 197px;
height: 15px;
background-color: #ec9e03;
border-radius: 30px;
margin-left: 247px;
}
.linebox{
  padding-bottom: 22px;
}
.date{
background-color: #ddb101;
width: 113px;
height: 86px;
margin-bottom: 43px;
}
.date h4{
width: 55px;
height: 38px;
color: #ffffff;
font-family: "Segoe UI";
font-size: 51px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0.51px;
margin: 0 auto;
padding-top: 15px;
}
.date p{
width: 55px;
height: 15px;
color: #b26529;
font-family: "Segoe UI";
font-size: 21px;
font-weight: 400;
line-height: 38px;
text-transform: uppercase;
letter-spacing: 0.21px;
margin: 0 auto;
padding-top: 9px;
}
@media screen and (max-width:768px){
  .content {
    max-width:606px;
    }
    footer{
      height: 43px;
    }
    .text2{
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.42);
    font-size: 17px;
    font-style: italic;
    margin-top: 6px;
    margin-left: 9px;
    }
    .logo2{
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 44px;
    }
    .logo2 img{
      width: 31px;
      height: 31px;
    }
    .info{
    padding-top: 43px;
    text-align: left;
    }
    .info h1{
    font-size: 39px;
    letter-spacing: 0.43px;
    }
    .order_info{
      display: none;
    }
    .order{
      display: flex;
      justify-content: space-between;
      margin-top: 83px;
      padding-bottom: 55px;
    }
    .circle{
    margin-top: -49px;
    margin-left: 5px;
    }
    .illustration img{
      margin-left: 16px;;
    }
    .customise h3{
    font-size: 23px;
    margin-top: 21px;
    }
    .icon2{
    border-left: none;
    padding-top: 38px;
    padding-bottom: 28px;
    }
    .icon1 img{
      width: 89px;
      height: 61px;
    }
    .icon2 img{
      width: 67px ;
      height: 69px;
    }
    .icon3 img{
      width: 68px;
      height: 69px;
    }
    .icon1{
    padding-top: 42px;
    border-left: none;;
    padding-bottom: 28px;
    }
    .icon3{
      border-left: none;
    border-right: none;
    padding-top: 38px;
    padding-bottom: 28px;
    }
    .wrapper5{
      background-image: none;
      background: linear-gradient(to top, #f5c507 47%, #ffffff 52%);
    }
    .name{
      display: none;
    }
    .slider{
      display: flex;
      justify-content:center;
      flex-wrap: wrap;
      padding-top: 11px;
    }
    .box1{
      width: 299px;
      height: 232px;
      }
      .box3{
        width: 100%;
        height: 233px;
        background-color: #f5c507;
      text-align: left;
      margin-left: 0px;
      margin-top: 9px;
      display: flex;
      justify-content: space-between;
      }
      .bubble{
        display: block;
        margin-bottom: 12px;
      }
      .message1 p, .message2 p, .message3 p{
width: 217px;
height: 28px;
color: #8f8e8e;
font-family: "Arial MT";
font-size: 13px;
font-weight: 400;
letter-spacing: 0.13px;}
      .message1{
        background-image: url(./assets/rounded-rectangle-2.png);
        width: 285px;
height: 42px;
margin-top: 24px;
      }
      .message2{
        background-image: url(./assets/rounded-rectangle-2.png);
width: 285px;
height: 42px;
opacity: 0.7;
margin-top: 14px;
      }
      .message3{
        background-image: url(./assets/rounded-rectangle-2.png);
        width: 285px;
height: 42px;
opacity: 0.6;
margin-top: 14px;
margin-bottom: 14px;
      }
      .search{
margin-left: 10px;
      }
      #tw{
width: 193px;
height: 29px;
box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.11);
border: 1px solid rgba(0, 0, 0, 0.15);
background-color: #ffffff;
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
      }
      #twee{
width: 77px;
height: 29px;
border: none;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
background-color: #cf8e0b;
color: #ffffff;
font-family: "Arial MT";
font-size: 15px;
font-weight: 400;
letter-spacing: 0.15px;
      }
  .click{
    margin-left: 28px;
    padding-top: 9px;
  }
      .box2{
        margin-left: 10px;
        width: 279px;
        height: 232px;
      }
      #video1{
        width: 279px;
        height: 232px;
      }
    .plus{
   display: none;
    }
    .twitter{
      padding-top: 39px;
      margin-left: 60px;
    }
    .fa{
      font-size: 170px !important;
    }
    .box1 p{
    width: 235px;
    line-height: 33.31px;
    margin: 0 auto;
    padding-top: 22px;
    }
    .num{
      display: none;
    }
 .linebox{
      display: none;
    }
    .date{
    display: none;
    }
    .text{
      text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.42);
      font-size: 19px;
      margin-top: 11px;
      margin-left: 8px;
      }
      .cool{
        display:block;
        margin-top: 0px;
        padding-bottom: 0px;
      }
      .birds{
       display: none;
      }
      .birds2{
        display: block;
        position: relative;
        width: 100%;
      }
      .birds2 video{
        width:100%;
      }
      .play2 {
        border-radius: 50%;
        width: 67px;
        height: 67px;
        background-color: #f5c506;
        opacity: 0.72;
        position: absolute;
       z-index: 1;
       text-align: center;
      top: 40%;
      left: 42%;
        }
      .play2 a {
       display: block;
       height: 67px;
       line-height: 67px;
       padding-top: 9px;
        }
        .play2:hover{
          opacity: 1;
        }
        .buttons{
          display: flex;
        justify-content: space-between;
        }
        .next, .prev{
          display: none;
        }
      .texts{
      display: none;
      }
      nav a{
      height: 62px;
      line-height: 62px;
      font-size: 19px;
      }
      nav img{
        margin-right: 11px;
      }
      .human{
        width: 24px;
        height: 22px;
      }
      .key{
        width: 22px;
        height: 22px;
      }
      .post{
        width: 28px;
        height: 22px;
      }
      nav{
      width: 455px;
      height: 62px;
      box-shadow: none;
      margin-top: auto;
      }
      .logo{
        padding-top: 11px;
        margin-left: 12px;
      }
      .logo img{
        width: 40px;
        height: 39px;
      }
  .header2{
    display: flex;
    justify-content: space-between;
    background-color: #505050;
  }

header{
  display: none;
}
section{
  background-image: none;
}
#up1{
width: 129px;
height: 173px;
}
#up2{
width: 39px;
height: 63px;
}
.wrapper4{
  background-image: url(./assets/slice-19.png);
}
}